<style>
  .content {
    min-width: 400px;
    max-width: 1400px;
    padding: 20px 10px;
    background-color: gray;
    border-style: solid;
    border-size: 5px;
  }

  .row {
    padding: 10px 5px;
  }

  .errors {
    background-color: pink;
    color: white;
    border-style: solid;
    border-size: 5px;
    border-color: red;
  }
</style>
<div class="content">
  <h2>New User</h2>
  <p><%= @user.password %></p>
  <p>Errors<%= @user.errors.map { |m| m} %></p>
  <% if @user.present? && @user.errors.messages.any? %>
    <div class="errors">
      <ul>
        <% @user.errors.messages.each do |msg| %>
          <li><b><%= msg[0] %></b>: <%= msg[1] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true, url: "/user", method: "post") do |form| %>
    <div class="row">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>
    <div class="row">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>
    <div class="row">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    <div class="row">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div class="row">
      <%= form.submit %>  
    </div>
  <% end %> 
<div>