<div class="content">
  <h2>login</h2>
  <div>
    <% flash.each do |type, msg| %>
      <div class="alert alert-danger">
        <%= msg %>
      </div>
    <% end %>
  </div>
  <div class="container text-center">
    <%= form_for @user, url: "/login", method: "post" do |form| %>
      <div class="row">
        <% if @user.errors[:email].any? %>
          <div class="col-4 text-center error_explanations">
            <p> <%= @user.errors[:email].first %> </p>
          </div>
        <% else %>
          <div class="col-4"></div>
        <% end %>
        <div class="col-2 text-center">
          <%= form.label :email %>
        </div>
        <div class="col-6 text-left">
          <%= form.text_field :email %>
        </div>
      </div>
      <div class="row">
        <% if @user.errors[:password].any? %>
          <div class="col-4 text-center error_explanations">
            <p> <%= @user.errors[:password].first %> </p>
          </div>
        <% else %>
          <div class="col-4"></div>
        <% end %>
        <div class="col-2 text-center">
          <%= form.label :password %>
        </div>
        <div class="col-6 text-left">
          <%= form.password_field :password %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a class="btn my-3" href="javascript:$('form').submit();" onclick="">Login</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a class="btn-secondary my-3" href="<%= new_user_path %>">Create Account</a>
        </div>
      </div>
    <% end %>
  </div>
</div>