<div class="content">
    <h2><%= @pet.name.titleize %>'s Events (<%= Time.now.in_time_zone(@current_user.timezone).zone %>)</h2>
    <% unless @events.present? %>
      <p>No events yet</p>
    <% else %>
      <% @events.each do |e| %>
        <div class="row text-left">
          <div class="col-3"><%= e.kind.titleize %>:</div>
          <div class="col-9"><%= show_local_time(e.happened_at) %></div>
          <% unless e.notes.blank? %>
            <div class="col-9 offset-3">Notes: <%= e.notes %></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>