  <h2>New Pet</h2>
  <%= render 'flash_errors', model: @pet %>
  <%= form_with(model: @pet, local: true, url: "/pet", method: "post") do |form| %>
    <div class="row">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="row">
      <%= form.label :kind %>
      <%= form.text_field :kind %>
    </div>
    <div class="row">
      <%= form.label :breed %>
      <%= form.text_field :breed %>
    </div>
    <div class="row">
      <%= form.date_field :birthday %>
      <%= form.submit %>  
    </div>
  <% end %> 