<!DOCTYPE html>
<html>
  <head>
    <title>PetTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# font %>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "top_nav" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
